<?xml version="1.0"?>

<robot name="iai_kitchen" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_oven_area.urdf.xacro" />
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_kitchen_island.urdf.xacro" />
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_sink_area.urdf.xacro" />
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_fridge_area.urdf.xacro" />
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_tables.urdf.xacro" />
    <xacro:property name="pi" value="3.1415926535897931" />
    <xacro:property name="simulated" value="true" />
    <xacro:macro name="sphere_inertia" params="radius mass">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia
                ixx="1" ixy="0.0" ixz="0.0"
                iyy="1" iyz="0.0"
                izz="1" />
        </inertial>
    </xacro:macro>
    <link name="room_link">
        <xacro:sphere_inertia radius="0" mass="0" />
    </link>
    <xacro:if value="${simulated}">
        <link name="world" />
        <joint name="world_room_joint" type="fixed">
            <origin xyz="0.0 0.03 0 " rpy="0 0 0" />
            <parent link="world" />
            <child link="room_link" />
        </joint>
    </xacro:if>

    <!-- Your code goes from here -->

    <!-- Table -->
    <xacro:iai_table_1 name="table_1" parent="room_link">
        <origin xyz="1.5 0.75 0" rpy="0 0 ${pi/2}" />
    </xacro:iai_table_1>

    <!-- Chair -->
    <xacro:jokkmokk_chair name="chair_1" parent="room_link">
        <origin xyz="1.5 -0.75 0.5535" rpy="0 0 0" />
    </xacro:jokkmokk_chair>
    
    <!-- fridge -->
    <xacro:iai_fridge_area name="fridge_1" parent="room_link">
        <origin xyz="-1 0 0" rpy="0 0 0" />
    </xacro:iai_fridge_area>

     <!-- Oven -->
    <xacro:iai_oven_area name="oven_1" parent="room_link">
        <origin xyz="-1 -1.6 0" rpy="0 0 0" />
    </xacro:iai_oven_area>

    <!-- Stove -->
    <xacro:iai_kitchen_island name="stoves_1" parent="room_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:iai_kitchen_island>

    <!-- Sink -->
    <xacro:iai_sink_area name="sink_area" parent="room_link">
        <origin xyz="0 -2.5 0" rpy="0 0 0" />
    </xacro:iai_sink_area>
















</robot>