<?xml version="1.0"?>

<robot name="my_kitchen" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="fridge.urdf.xacro" />
    <xacro:include filename="$(find iai_kitchen)/urdf_obj/IAI_tables.urdf.xacro" />
    
    <xacro:property name="pi" value="3.1415926535897931" />
    <xacro:macro name="sphere_inertia" params="radius mass">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia
                ixx="1" ixy="0.0" ixz="0.0"
                iyy="1" iyz="0.0"
                izz="1" />
        </inertial>
    </xacro:macro>

    <link name="room_link">
        <xacro:sphere_inertia radius="0" mass="0" />
    </link>

    <xacro:iai_table_1 name="table_area" parent="room_link">
        <origin xyz="0 0 0" rpy="0 0 ${pi}" />
    </xacro:iai_table_1>

    <xacro:iai_fridge name="fridge" parent="room_link">
        <origin xyz="0 0 1.2" rpy="0 0 ${pi}" />
    </xacro:iai_fridge>



</robot>