lxml
jupyterlab~=4.0.0
jupyterlab-git
ollama
langchain-ollama
jupyter-ai
# jupyterlab-urdf
git+https://github.com/yxzhan/jupyterlab-urdf.git@ea2092ab13eb2eb74eba7ba5f1e7dbe94bdb68a9
https://raw.githubusercontent.com/yxzhan/extension-examples/main/cell-toolbar/dist/jupyterlab_examples_cell_toolbar-0.1.4.tar.gz